@use 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--main-font);
    font-size: 20px;
    line-height: 135%;
    font-weight: 400;
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.section-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: var(--title-color);
    &.div {
        font-family: var(--main-font);
    }
}
