:root {
    --second-family: "Montserrat", sans-serif;
    --main-font: "DM Sans", sans-serif;
    --main-color: #154444;
    --text-color: #383738;
    --title-color: #244D4D;
    --gray-color: #808080;
    --yellow-color: #FFB624;
    --white-color: #fff; 
    --blue-color: #305f64;
}