.promo {
    position: relative;
    margin-bottom: 70px;
    min-height: calc(100vh - 102px);
    .promo__inner {
        display: flex;
        justify-content: flex-end;
        .promo__info {
            background-color: var(--main-color);
            padding: 75px 42px 75px 120px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 60%;
            &-title {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 56px;
                line-height: 125%;
                color: var(--white-color);
                margin-bottom: 30px;
            }
            &-text {
                font-size: 20px;
                line-height: 145%;
                color: var(--white-color);
            }
        }
        .promo__media-img {
            object-fit: cover;
        }

    }
    
}

@media (max-width: 1100px) {
    .promo {
        .promo__inner {
            .promo__info {
                width: 70%;
            }
        }
    }
}

@media (max-width: 950px) {
    .promo {
        .promo__inner {
            .promo__info {
                width: 80%;
                padding: 54px 42px 54px 60px;
                &-title {
                    font-size: 45px;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .promo {
        .promo__inner {
            .promo__info {
                top: 30%;
                left: 50%;
                transform: translateX(-50%);
                &-title {
                    font-size: 38px;
                }
            }
        }
    }
}


