.reviews {
    padding: 70px 0;
    margin-bottom: 70px;
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        .reviews__media {
            .reviews__media-img {
            }
        }
        
        .reviews__info {
            padding-top: 80px;
            width: 530px;
            .reviews__title {
                margin-bottom: 30px;
            }
            .reviews__text {
                margin-bottom: 30px;
            }
            .reviews-item {
                display: flex;
                gap: 10px;
                font-weight: 500;
                font-size: 16px;
                line-height: 119%;
                color: #000;
                .reviews-item__img {
                    width: 50px;
                    height: 50px;
                }
                .reviews-item__name {
                    margin-bottom: 7px;
                }
                .reviews-item__rating {
                    font-size: 14px;
                    line-height: 107%;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
            
        }
        
    }
    
}

@media(max-width: 750px) {
    .reviews {
        &__inner {
            flex-direction: column-reverse;
            .reviews__info {
                width: 100%;
            }
        }
    }
}
